#logo-container{
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 500;
    


    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;



        }

      #ball-path1, #ball-path2, #ball-2,#leading-tile-2, #leading-tile-3{
            opacity:0;
        }
.first-half, .second-half, .markup{
    opacity: 0;
}
        #w-to-s, #from-s{
            opacity: 0;
        }
}

.gs-dev-tools{
    z-index: 550;
}